/*
 *  Author:     Harold Bradley III
 *  Email:      hbradleyiii@gmail.com
 *  Website:    haroldbradleyiii.com
 *  Copyright:  2016
 *
 */


// Style Colors
$color_primary: #000;
$color_secondary: #fff;

$white: #fff;
$black: #090909;
$black_2: #151515;
$black_3: #222222;

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;


// Typography
$font-size-base: 18px;
$font_base: 18px;
$font_family_1: "Josefin Sans", sans-serif;
$font_family_2: "Playfair Display", serif;
$font_normal: 400;
$font_light: 300;
$font_bold: 700;
$font_ratio: 1.45;

$font_sizes: 0.512rem, 0.64rem, 0.8rem, 1rem, 1.25rem, 1.563rem, 1.953rem, 2.441rem, 3.051rem, 3.814rem;
@mixin font-size($size) { font-size: nth($font_sizes, $size + 4); }


// Screen Sizes
$width_desktop: 1200px;
$width_tablet: 800px;
$width_mobile: 500px;


// Basic Framework
@import "reset";
@import "framework";


// Style Modules
@import "navigation";
@import "header";
@import "footer";
@import "animation";
